* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}

.App {
  background-color: #e5e5e5;
}
